@charset 'UTF-8';


	body {
		background: white;
		font-family: 'Bitter', serif;
		font-size: 22px;
		text-align: justify; }

	section {
		border-radius: 1em;
		padding: 1em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); }

	a {
		color: black;
		text-decoration: none;
		font-weight: bold; }
		
		a:hover {
			text-decoration: underline; }
